
<nav class="showthem">
  <div style="position: relative" >
    <ul>
      <h5 class="titleMenu">Menu</h5>
      <li> 
        <a routerLink="/profile" class=".activated" routerLinkActive="router-link-active" >
          <i class="material-icons">bar_chart</i>
          <span class="showme">Overview</span>
        </a>
      </li>
      
      <li>
        <a routerLink="details">
          <i class="material-icons">arrow_forward</i>
          
          <span class="showme">Insigths</span>
          
        </a>
        
      </li>
    </ul>
  </div>
</nav>