<!-- <div> -->
  <h1>
      Overview of your data
  </h1>
<!-- </div> -->

<div class="grid-Container">

  <div >
    <app-pie-chart></app-pie-chart>
  </div>
  <div>
  <app-card1></app-card1>
  </div>
  <div>
    <app-barchart></app-barchart>
  </div>
  <div>
    <app-card2></app-card2>
  </div>
  <div class="item1">
    <app-statistics-tab></app-statistics-tab>
    <router-outlet></router-outlet>
  </div>
  <div class="item2">
<app-chart1></app-chart1>
  </div>
  <div class="item3">
    <app-chart2></app-chart2>

  </div>
</div>